* {
    font-family: Arial, Verdana, sans-serif;
}

html {
    background: url("../images/hypnotize.png") repeat;
}

.header {
    width: 100%;
    height: 80px;
    line-height: 60px;
    text-align: center;
    background-color: aqua;
}

h1 {
    font-family: Arial, Verdana, sans-serif;
    font-size: 2em;
    font-weight: 900;
    padding: 10px;
}

p {
    padding: 5px;
    text-align: center;
}

.content {
    width: 90%;
    margin: 0 auto;
}

button, form, input {
    margin: 10px;
}

.wrapper {
    margin: 10px;
    overflow: auto;
}
.button-container {
    margin: 10px;
    text-align: left;
    width: 60%;
    float: left;
}

.button-form {
    width: 30%;
    float: right;
    margin: 10px;
    text-align: center;
}

.gif-container {
    margin: 10px;
    text-align: left;
    width: 75%;
    float: left;
}

.gif-cards {
    margin: 10px;
    width: auto;
    float: left;
}

.favorite {
    background: none;
    border: 1px solid grey;
    border-radius: 5px;
}

.favorite:hover {
    border: 1px solid aqua;
}

.show-more {
    float: left;
    background: none;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 16px;
}

.show-more:hover {
    border: 1px solid darkorange;
}

.favorites {
    margin: 10px;
    width: 15%;
    float: right;
    align-content: center;
}

a {
    float: left;
    align-content: center;
    margin: 0 auto 5px auto;
}

.rmFav {
    float: left;
    margin: 0;
    border: none;
    background: none;
}

.rmFav:hover {
    color: red;
}
